{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}


<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Online Assessment: 
    <small>There are two parts of questions you need to fill out, please be patient. Once you have done, your score will be atumatically evaluated</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Assessment</li>
  </ol>
</section>

<section class="content">

  <div class="row">
    <!-- Left col -->
    <section class="container">      

      <form method="POST">

      {% for field in form %}
          {% if field.name == "submit" %}
          <tr>
            <td>{{ field }}</td>
          </tr>

          {% elif field.name == "q_1" %}
          <b>Part I: There are totoally 65 general questions</b>
          <br>
          <br>
          <tr>
              <th>{{ field.label }}</th>
              <td>{{ field }}</td>
          </tr>

          {% elif field.name == "qa_1" %}
          <b>Part II: There are totoally 149 assessment questions</b>
          <br>
          <br>
          <tr>
              <th>{{ field.label }}</th>
              <td>{{ field }}</td>
          </tr>

          {% else %}
          <tr>
              <th>{{ field.label }}</th>
              <td>{{ field }}</td>
          </tr>
          {% endif %}
      {% endfor %}
      </form>
    </section>
    <!-- /.Left col -->
   

  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
      </p>
      {% if not current_user.is_authenticated %}
      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
</center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

  {% endblock body %}
